html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

@font-face {
  font-family: "MyThemeFont";
  src: url("./themify.woff");
}
@font-face {
  font-family: "font2";
  src: url("./font2.woff2");
}
@font-face {
  font-family: "font3";
  src: url("./quick.woff2");
}

body {
  width: 100%;
  height: 100vh;
}
a {
  all: unset;
}
nav {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.items:nth-child(1) {
  font-weight: bolder;
}
.items {
  font-family: "MyThemeFont";
  list-style: none;
  font-family: font3;
  cursor: pointer;
  font-size: 1.1rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.text {
  width: 100%;
  font-size: 3.4rem;
  color: #363636;
}
.imagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: imageAnimation;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  overflow: hidden;
}
.imagediv::-webkit-scrollbar {
  display: none;
}

.image1 {
  width: 100%;
  height: 70%;
}
.text-data {
  width: 60%;
  display: flex;
  padding-top: 5rem;
  padding-left: 10rem;
  flex-direction: column;
  font-family: font2;
  align-items: start;
  justify-content: center;
  gap: 3rem;
  animation-name: textAnimation;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.subtext {
  color: #f62433;
}
.para {
  font-size: 1.2rem;
  color: #868686;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.landingbtn {
  padding: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
  background-color: white;
  outline: none;
  border: 2px solid #868686;
  border-radius: 45px;
}

.services {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation-range: entry 0% cover 40%;
  animation-name: servicesAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: both;
}
.title {
  text-align: center;
}
.title h1 {
  font-size: 3rem;
  color: #363636;
  font-family: font2;
}
.title p,
.title span {
  font-size: 1.2rem;
  font-family: font3;
  color: #868686;
  line-height: 38px;
}
.icontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.icon {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.icon h1 {
  font-size: 1.8rem;
  color: #363636;
  font-family: font3;
}
.icon p {
  font-size: 0.9rem;
  font-family: font3;
  color: #868686;
  line-height: 30px;
}
.icon a {
  all: unset;
  font-family: font3;
  font-weight: 800;
  cursor: pointer;
}
.icon a:hover {
  color: #f62433;
}

.office {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8rem;
  gap: 2rem;
  overflow-x: hidden;
}
.office2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 8rem;
  overflow-x: hidden;
  gap: 2rem;
}
.address {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation-range: entry 0% cover 40%;
  animation-name: textAnimation2;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
.officeimgdiv {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: end;
}
.officeimgdiv2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: start;
}
.officeimage {
  display: flex;
  flex-direction: column;
}
.address p {
  font-family: font3;
  font-size: 1.2rem;
  color: #868686;
}
.address h2 {
  font-size: 4rem;
}
.address h2 {
  font-size: 3rem;
  color: #363636;
  font-family: font2;
}
.address button {
  max-width: fit-content;
}
.address span {
  width: 70%;
  height: 1px;
  background-color: #f1f1f1;
}
.address .addresstext {
  max-width: 75%;
  font-family: font3;
  font-size: 1rem;
  line-height: 28px;
  color: #868686;
}
.userdet {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 25px;
  gap: 25px;
}

.userdet h3 {
  font-family: font2;
  font-size: 0.9rem;
  color: #363636;
}
.dets {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 0.5rem;
}
.userdet h5 {
  font-family: font3;
}
.works {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.works h1 {
  font-size: 3rem;
  color: #363636;
  font-family: font2;
}
.works p {
  font-family: font3;
  font-size: 1rem;
  line-height: 35px;
  color: #868686;
}
.cards {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
}
.image {
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.image img {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  object-fit: cover;
}
.hovercard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: linear-gradient(
    to top right,
    transparent,
    rgba(255, 0, 0, 0.52)
  );
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.hovercard h2,
.hovercard span {
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transition-delay: 0.2s;
}
.image:hover .hovercard {
  opacity: 1;
  visibility: visible;
}
.image:hover .hovercard h2,
.image:hover .hovercard span {
  transform: translateY(0);
  opacity: 1;
}

.hovercard img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: none;
}
.realimg {
  transition: all 0.5s ease-in-out;
}
.image:hover .hovercard img {
  display: flex;
}
.image:hover .realimg {
  scale: 1.5;
}

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  gap: 5rem;
}
.teamtitle {
  text-align: center;
}
.team h1 {
  font-size: 3rem;
  color: #363636;
  font-family: font2;
}
.team p {
  font-family: font3;
  font-size: 1rem;
}

.membercards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.members {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.members h1 {
  font-size: 1.2rem;
  color: #363636;
  font-family: font3;
}
.numbers {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  gap: 2rem;
}
.numbers h1 {
  font-size: 3rem;
  color: #363636;
  font-family: font2;
}
.numbers p {
  font-family: font3;
  font-size: 1.1rem;
  color: #868686;
}
.years {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.years h1 {
  font-size: 5rem;
  color: #f62433;
  font-family: font2;
}
.years h3 {
  font-family: font3;
  font-size: 1.5rem;
}
.yearsdata {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footertop {
  width: 100%;
  background-color: #363636;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}
.social img {
  width: 45;
  height: 45;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: font3;
  font-size: 0.9rem;
  gap: 1rem;
  color: #f1f1f1;
  list-style: none;
}
.line {
  width: 80%;
  height: 1px;
  margin: 3rem;
  background-color: #868686;
}
.footerbottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.hamburger {
  display: none;
}
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes textAnimation2 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes servicesAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .image {
    width: 100%;
    height: 50%;
  }
  nav {
    padding: 1.5rem;
  }
  .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .text-data {
    padding: 0;
    align-items: center;
    text-align: center;
    width: 90%;
    word-break: none;
  }
  .imagediv {
    width: 100%;
  }
  .text,
  .subtext {
    font-size: 2.5rem;
  }
  .para {
    font-size: 1.1rem;
  }
  .services {
    height: auto;
    gap: 4rem;
    padding-bottom: 4rem;
  }
  .title p,
  .title span {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    text-wrap: wrap;
  }
  .icontext {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .icon {
    max-width: 100%;
  }
  .iconimg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon:nth-child(0) {
    align-items: center;
  }
  .icon h1 {
    font-size: 1.5rem;
    display: flex;
  }
  .office,
  .office2 {
    flex-direction: column-reverse;
    height: auto;
    padding: 1rem;
    gap: 1.3rem;
  }
  .address {
    max-width: 100%;
    padding-left: 1.5rem;
    align-items: start;
    text-align: start;
  }
  .address p {
    width: 100%;
    font-size: 1.2rem;
  }
  .address h2 {
    font-size: 2.8rem;
  }
  .address .addresstext {
    max-width: 100%;
  }
  .officeimgdiv,
  .officeimgdiv2 {
    justify-content: center;
  }
  .userdet {
    flex-direction: column;
  }
  .works {
    margin-top: 2rem;
    height: auto;
    gap: 4rem;
    padding-bottom: 4rem;
    padding: 1rem;
  }
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .team {
    gap: 4rem;
    padding-bottom: 4rem;
    padding: 1rem;
  }
  .membercards {
    gap: 2.5rem;
  }
  .members {
    gap: 0.5rem;
  }
  .members h1 {
    font-size: 1.4rem;
  }
  .numbers {
    height: auto;
    gap: 2rem;
    padding: 0.5rem;
    padding-bottom: 4rem;
  }
  .years {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .yearsdata {
    gap: 0.5rem;
  }
  .footertop {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    height: auto;
  }
  .footerbottom {
    font-size: 0.9rem;
    text-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  nav {
    gap: 2rem;
  }
  .right {
    position: relative;
  }
  .navitems {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 300%;
    width: 100vw;
    right: -23px;
    background: #232323;
    color: gray;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    align-items: start;
    z-index: 10;
    transform: translateY(-20px);
    transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
    pointer-events: none;
  }
  .items:nth-child(1) {
    color: white;
  }
  .items:nth-child(4) {
    border: none;
  }
  .items {
    width: 100%;
    padding: 1.2rem;
    font-size: 0.8rem;
    border-bottom: 1px solid gray;
  }
  #hamburger-checkbox:checked ~ .navitems {
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: black;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  #hamburger-checkbox:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  #hamburger-checkbox:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #hamburger-checkbox:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  .text {
    font-size: 2.5rem;
  }
  .title h1,
  .works h1,
  .numbers h1 {
    font-size: 2.5rem;
  }
  .address h2 {
    font-size: 3rem;
  }
  .years h1 {
    font-size: 3rem;
  }
  .years h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 2rem;
  }
  .title h1,
  .works h1 {
    font-size: 2rem;
  }
  .address h2 {
    font-size: 2.1rem;
  }

  .landingbtn {
    padding: 1rem 2rem;
  }
}
