* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "MyThemeFont";
  src: url("./themify.woff");
}
@font-face {
  font-family: "font2";
  src: url("./font2.woff2");
}
@font-face {
  font-family: "font3";
  src: url("./quick.woff2");
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.items {
  font-family: "MyThemeFont";
  list-style: none;
  font-family: font3;

  font-size: 1.1rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.text {
  width: 100%;
  font-size: 3.4rem;
  color: #363636;
}
.imagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image1 {
  width: 100%;
  height: 70%;
}
.text-data {
  width: 60%;
  display: flex;
  padding-top: 5rem;
  padding-left: 10rem;
  flex-direction: column;
  font-family: font2;
  align-items: start;
  justify-content: center;
  gap: 3rem;
}

.subtext {
  color: #f62433;
}
.para {
  font-size: 1.2rem;
  color: #868686;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.landingbtn {
  padding: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
  background-color: white;
  outline: none;
  border: 2px solid #868686;
  border-radius: 45px;
}

.services {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title {
  text-align: center;
}
.title h1 {
  font-size: 3rem;
  color: #363636;
  font-family: font2;
}
.title p {
  font-size: 1.2rem;
  font-family: font3;
  color: #868686;
  line-height: 38px;
}
.icontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.icon {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.icon h1 {
  font-size: 1.8rem;
  color: #363636;
  font-family: font3;
}
.icon p {
  font-size: 0.9rem;
  font-family: font3;
  color: #868686;
  line-height: 30px;
}
.icon a {
  all: unset;
  font-family: font3;
  font-weight: 800;
  cursor: pointer;
}
.icon a:hover {
  color: #f62433;
}
